<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>トップページ | スグリコ</title>
</head>
<body>
    <h1>スグリコへようこそ！</h1>

    <!-- ログインしているユーザー名を表示 -->
    <p>こんにちは、<span sec:authentication="name"></span> さん</p>

    <!-- ログアウトフォーム -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">ログアウト</button>
    </form>

    <!-- ここにライフログのコンテンツを追加していく -->
</body>
</html>